body{
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #233540
}
.main{
    padding-top: 150px;

}
.login-portal{
    width: 600px;
    height: 680px;
    background: black;
    margin: auto;
    border-radius: 15px;
}
.close-button{
    font-size: 28px;
    color: white;
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}
.close-button:hover{
    background: #21201f;
}
.logo-img{
    margin-left: 240px;
    margin-top: 7px;
    width: 43px;
}
.title{
    color: white;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    margin-left: 160px;
    margin-top: 15px;
}
.login-btn{
    height: 45px;
    background: white;
    margin-left: 160px;
    margin-top: 10px;
    padding-right: 80px;
    border-radius: 30px;
}
.google-img{
    width: 24px;
    float: left;
    margin-left: 65px;
    margin-top: 4px;
}
.google-label{
    color: black;
    background: white;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 15px;
    font-family: sans-serif;
}
.apple-img{
    width: 35px;
    float: left;
    margin-left: 60px;
    margin-top: 2px;
}
.apple-label{
    color: black;
    background: white;
    float: left;
    margin-left: 4px;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 14px;
}
.line{
    color: #2e2c2c;
    padding-left: 162px;
    font-family: sans-serif;
}
.username-btn{
    width: 312px;
    margin-left: 160px;
    margin-top: -11px;
    height: 50px;
    border: 1px solid #2e2c2c;
    background: black;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
}
.next-label{
    color: black;
    background: white;
    float: left;
    margin-left: 140px;
    margin-top: 11px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 55px;
}
.forgot-btn{
    height: 45px;
    background: black;
    border: 1px solid #605d5d;
    margin-left: 160px;
    margin-top: 10px;
    padding-right: 80px;
    border-radius: 30px;
    float: left;
    cursor: pointer;
}
.forgot-btn:hover{
    background: #21201f;
}
.forgot-label{
    color: white;
    background: black;
    float: left;
    margin-left: 90px;
    margin-top: 11px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 5px;
    cursor: pointer;
}
.forgot-label:hover{
    background: #21201f;
}
.para{
    float: left;
    color: #746f6f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 160px;
    margin-top: 50px;
    font-size: 15px;
}
.link{
    float: left;
    margin-top: 50px;
    margin-left: 5px;
    text-decoration: none;
    color: #0c4c8f;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}